@import "../variables.styl"

.AppButton
  background-color transparent
  padding 20px 50px
  border-radius 20px
  border 1px solid $grey
  width 260px
  text-align left
  &:hover
    background-color $yellow
    color $bgColor
    cursor pointer