@import "../variables.styl"

.AppFilters
  display flex
  flex-direction row
  justify-content space-between
  align-content center

.AppSearch
  background-color transparent
  width 50%
  border-radius 20px
  padding 12px 24px
  border 1px solid $grey
  &::placeholder
    color $light

.AppFilterContainer
  background-color $light
  display flex
  flex-direction row
  align-items center
  gap 5px
  padding 12px 24px
  border-radius 20px
  label
    color $bgColor

.AppFilter
  border 0
  background-color $light
  color: $bgColor
  font-weight bold