@import "../variables.styl"

.AppFilters
  display flex
  flex-direction row
  justify-content space-between
  align-content center

.AppSearch
  background-color transparent
  width 50%
  border-radius 20px
  padding 12px 24px
  border 1px solid $grey
  &::placeholder
    color $light

.AppFilter
  background-color $light
  border-radius 20px
  padding 12px 24px
  color: $bgColor