@import "../variables.styl"

.AppRecipeCard
  background-color $grey
  border-radius 20px
  padding 8px 8px 20px 8px

.ImgContainer
  height 180px
  width 100%
  background-size cover
  background-position 50% 50%
  background-repeat no-repeat
  margin-bottom 12px
  border-radius 20px